html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  background-color: black;
  width: 700px;
  height: 700px;
}
 
#container {
            min-height: 100vh; /* mobile viewport bug fix */
            min-height: -webkit-fill-available;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
       
           }
        
#sketch {
         position: relative;
         background-color: green;
        }
img2 {
  position: absoute;
  margin-left:25px;
  width: 150px;
  height: 150px;
  alpha: .5;
  opacity: .7;
}